*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root{
    font-size: 15px;
    background: #eee;
}

/*...............Table Adding...............*/

/* .table_wrapper{
    border: solid;
} */

.table_wrapper{
    color: rgb(66, 66, 66);
    font-size: 13px;
    overflow-x: auto;
    transition: .5s;
    margin: 10px;
    padding: 3px;
    position: relative;
}
.chart_title{
    text-align: center;
    color: rgb(66, 66, 66);
    font-size: 18px;
    display: block;
    padding-top: 12px;
    padding-bottom: 8px;

}
.table_wrapper::-webkit-scrollbar{
    height: 8px;
}
.table_wrapper::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0,.1)
}
.table_wrapper::-webkit-scrollbar-thumb:hover{
    background: rgba(0, 0, 0,.3)
}

.table_wrapper table,
.table_wrapper table tr td{
    border: 1px solid rgba(66, 66, 66,.5);
    border-collapse: collapse;
}

.table_wrapper table tr td{
    padding: 4px 8px;
}


/*............Input Number Arrow Remove ......*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}




.ctx_control form{
    padding: 5px 5%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    position: relative;
    margin-bottom: 25px;
}

.controler{
    width: 300px;
    /* border: solid red; */
    display: inline-flex;
    justify-content: space-between;
    margin: 3px;
    background: rgb(236, 236, 236);
    color: rgb(66, 66, 66);
    border-radius: 5px;
    border: 0.5px solid rgba(66, 66, 66,.1);
    position: relative;
}
.salary_control::after{
    content: '$';
    position: absolute;
    top: 49%;
    right: 87px;
    transform: translateY(-50%);
    opacity: .5;


}
.controler.rate::after{
    content: '%';
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    right: 10px;
    opacity: .5;
}
.controler input{
   width: 100px;
   display: inline-block;
   padding: 8px 25px;
   background: rgb(212, 211, 211);
   color: rgb(66, 66, 66) ;
   border: none;
   outline: none;
   transition: .3s;
   text-align: center;
}
.controler input:hover{
    background: rgb(236, 236, 236);

}
.controler label{
    padding: 8px;
}
.canvas_wrapper{
    height: calc(100% - 100px);
}
.chart_type{
    text-align: center;
}
.chart_type select{
    padding: 3px;
    background: rgba(66, 66, 66,.1);
    border: none;
    outline: none;
    color: rgba(66, 66, 66);
    cursor: pointer;
    text-align-last: center;
    opacity: .8;
    transition: .3s;
}
.chart_type select:hover{
    opacity: 1;
}
.chart_type h4{
    color: rgba(66, 66, 66,.9);
    margin-bottom: 5px;
}


/* For Responsive max 700px */
@media screen and (max-width: 700px) {
    .controler{
        width: 230px;
        font-size: 13px;
    }
}
@media screen and (max-width: 550px) {
    .controler{
        width: 100%;
        font-size: 13px;
    }
}